body {
  background: #1e2126;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
img {
  opacity: 0.8;
}
a {
	color: white;
	text-decoration: none;
	transition: all 500ms ease;
	font-size: 25px;
}
a:hover {
	text-decoration: underline;
}
.input-field {
  display: flex;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.movie {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 20px;
}
#search {
  flex: 1;
  font-size: 15px;
  padding: 10px;
  margin: 0 25px;
  border-radius: 5px;
}
